*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-image: url(/images/site/small_check.jpg);
  background-size: cover;
  background-position: center;
}

body {
  color: rgb(224, 224, 224);
  background-color: rgb(24, 24, 24);
  margin: 20px;
  border: 6px solid rgb(139, 51, 51);
  border-radius: 8px;
}

nav {
  background-color: rgb(139, 51, 51);
  border-radius: 8px;
  margin-left: 30px;
  margin-right: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 8px;
}

nav li a {
  color: rgb(224, 224, 224);
  text-decoration: none;
}

nav li:hover {
  background-color: rgb(88, 20, 20);
}

h1 {
  margin-left: 30px;
}

footer {
  margin-left: 15px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.siteName a {
  color: rgb(224, 224, 224);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
}

.tools a {
  color: rgb(224, 224, 224);
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}

.hero {
  position: relative;
  margin: 30px;
  border: 2px solid rgb(139, 51, 51);
  border-radius: 8px;
}

.hero img {
  display: block;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.hero-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 12%;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  color:rgb(100, 32, 32);
  border-radius: 8px;
}

.hero-popup h2 {
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

.hero-popup p {
  font-size: 3vw;
  margin-bottom: 5px;
  margin-top: 0;
}

.hero-popup button {
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 15vw;
  height: auto;
  margin-top: 2vw;
  align-self: center;
}

.hero-popup button img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.reviews h3 {
  font-size: 32px;
  font-weight: bold;
  margin-left: 30px;
}

.reviews ul {
  font-size: 3.2vw;
}

.upgrade-figs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 20px;
}

.upgrade-figs figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
  background-color: rgb(139, 51, 51);
  border-radius: 8px;
  height: 100%;
  padding: 0;
}

.vehicle-img {
  width: calc(100% - 60px);
  height: auto;
  margin: 30px;
  border-radius: 8px;
  border: 2px solid rgb(139, 51, 51);
  object-fit: cover;
}

.vehicle-info {
  margin: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 30px;
  max-width: 600px;
}

.form label {
  font-size: 24px;
}

.form input, .form textarea, .form select {
  background-color: rgb(24, 24, 24);
  color: rgb(224, 224, 224);
  border: 2px solid rgb(224, 224, 224);
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
}

.form button {
  width: 40%;
  align-self: center;
  border-radius: 8px;
  border: 0;
  margin-top: 5px;
}

.form button:hover {
  background-color: rgb(214, 214, 214);
}

.form input:required:invalid, .form textarea:required:invalid, .form select:required:invalid {
  border: 2px solid rgb(100, 32, 32);
}

.form input:required:valid, .form textarea:required:valid, .form select:required:valid {
  border: 2px solid rgb(20, 103, 38)
}

.register {
  margin-left: 30px;
}

.management-list li {
  margin-bottom: 20px;
}

.management-list li a {
  text-decoration: none;
  color: white;
}

.management-list li a:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  body {
    margin: 50px;
  }
  
  .home-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .home-body > div:first-child {
    grid-column: 2/3;
    grid-row: 1;
  }

  .home-body > div:last-child {
    grid-column: 1/2;
    grid-row: 1;
  }

  .reviews ul {
    font-size: clamp(24px, 1.6vw, 48px);
  }

  .upgrade-figs {
    height: calc(100% - 37px - 40px);
  }

  .widescreen-vehicle-info {
    display: flex;
  }

  .vehicle-img {
    width: calc(70% - 60px);
  }

  .vehicle-info p {
    font-size: 16px;
  }
}